<form class="form-project row-selection" [formGroup]="apGetAmountRange">
  <label [ngClass]="title ? styleTitle : ''">{{title}}</label>
  <div class="wm-buttons">
    <ea-input-mask class="input-display wm-combo is-rounded" id="apGetAmountRangeName" [ngClass]="extClass"
    [formControl]="apGetAmountRange.controls[apGetAmountRangeName]" formControlName="{{apGetAmountRangeName}}" name="apGetAmountRangeName" readonly></ea-input-mask>
    <button type="button" class="wm-btn wm-sm btn-status-popup"  (click)="open($event.currentTarget)">
      <span class="ico"><img src="assets/images/button/popup.png" /></span>
    </button>
  </div>
</form>

<ea-popup #apGetIntAmountRangeSelectionPopup class="popup-status-selection" [hideTrigger]="'None'"  (hidden)="close()">
  <div class="form-select-status">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titlePopup}}</h5>
        <button type="button" tabindex="-1" class="close bt-close wj-hide">&times;</button>
      </div>
      <div class="modal-body">
        <div class="section-status">
          <ea-flex-grid
            #apGetIntAmountRangeSelectionList
            class="grid-common-list grid-status-selection-list"
            [itemsSource]="apGetIntAmountRangeList"
            (dblclick)="onRowSelecting($event)"
          >
            <ea-flex-grid-column header="取得金額範囲" binding="value1" [width]="300"></ea-flex-grid-column>
          </ea-flex-grid>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="wm-btn" (click)='submit()'>選択</button>
        <button type="button" class="wm-btn wj-hide">閉じる</button>
      </div>
    </div>
  </div>
</ea-popup>
