div.section-header {
  border-bottom: 1px solid;
  margin-left: 13px;
  margin-right: 11px;
}

a.cell-link {
  padding-left: 8px;
}

img {
  margin-bottom: 3px;
}

div.section-body {
  padding-top: 10px;
}

div.col-7 {
  padding-left: 4.5rem;
}

.w-70 {
  min-width: 70px;
  width: 70px;
  margin-top: 2px;
}

div.form-group.w-70--1 {
  padding-left: 1rem;
}

div.block-frame-border {
  float: right;
  padding-left: 2px;
  padding-bottom: 0px;
  padding-right: 2px;
  padding-top: 4px;
  width: 340px;
  margin-right: 5rem;
  margin-top: 6px;
  height: 64px;
  position: absolute;
  right: 0rem;
  .div.row {
    width: 480px;
    min-width: 480px;
  }
  button.wm-btn {
    margin-left: 5.5rem;
  }
}

div.grid-common-count {
  margin-bottom: 0px;
}

.col-6.control {
  top: 2rem;
  padding-left: 9px;
}

.wm-buttons .wm-btn:last-child {
  margin-left: 2rem;
}

.status-desc {
  margin-top: 5px;
}
