.modal-body-input-section {
  padding: 0px 0px !important;
  .modal-body-content {
    justify-content: center;
    padding: 12px 0px 16px 0px;
  }
}
.modal-footer-input-section {
  padding: 8px 0px 22px 0px !important;
}
