.e-link {
  margin: 0px 0px 1px 5px;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: underline;
}

.col-label {
  width: 140px;
}

.col2-label {
  width: 180px;
}

.col3-label {
  width: 220px;
}

.ap-date {
  width: 100px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-15 {
  margin-right: 15px;
}

.wm-25 {
  width: 25px;
}

.wm-120 {
  width: 120px;
}

.wm-140 {
  width: 140px;
}

.wm-180 {
  width: 180px;
}

.wm-300 {
  width: 300px;
}

.wm-400 {
  width: 400px;
}

.wm-500 {
  width: 500px;
}

.form-group {
  margin-left: unset;
}

.row {
  width: 100%;
}

.block-frame-border {
  padding: 10px 10px;
}

.is-rounded {
  border-radius: unset;
}

.ml {
  margin-left: -25px;
}
