<div class="section-create-form">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-5">
        <div class="row">
          <label class="col-label text-right">取得申請書番号:</label>
          <div class="bt" [hidden]="!checkApplicationId">
            <ea-input-mask id="applicationId" class="wm-combo wm-tab-element wm-100" formControlName="applicationId">
            </ea-input-mask>
            <span class="text-inline"> (あいまい) </span>
            <span class="e-link">
              <a class="link" (click)="linkBtnClickEvent('applicationId')">複数指定</a>
            </span>
          </div>
          <div class="bt" [hidden]="checkApplicationId">
            <ea-input-mask id="applicationIdPlural" class="wm-combo wm-tab-element wm-300"
              formControlName="applicationIdPlural">
            </ea-input-mask>
          </div>
        </div>
        <div class="row" [hidden]="checkApplicationId">
          <label class="col-label text-right"></label>
          <span class="text-inline">(スペース区切で複数指定可)</span>
          <span class="e-link">
            <a class="link" (click)="linkBtnClickEvent('applicationId')">あいまい検索</a>
          </span>
        </div>
        <div class="row">
          <label class="wm-140 text-right"></label>
          <div class="form-group form-checkbox">
            <div class="form-check form-check-inline">
              <input class="form-check-input wm-checkbox" type="checkbox" id="oldVerFlag" formControlName="oldVerFlag">
              <label class="form-check-label" for="oldVerFlag">旧Verも含めて検索</label>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-label text-right">e申請書類ID:</label>
          <div class="bt" [hidden]="!checkEappId">
            <ea-input-mask id="eappId" class="wm-combo wm-tab-element wm-100" formControlName="eappId">
            </ea-input-mask>
            <span class="text-inline"> (あいまい) </span>
            <span class="e-link">
              <a class="link" (click)="linkBtnClickEvent('eappId')">複数指定</a>
            </span>
          </div>
          <div class="bt" [hidden]="checkEappId">
            <ea-input-mask id="eappIdPlural" class="wm-combo wm-tab-element wm-300" formControlName="eappIdPlural">
            </ea-input-mask>
          </div>
        </div>
        <div class="row" [hidden]="checkEappId">
          <label class="col-label text-right"></label>
          <span class="text-inline">(スペース区切で複数指定可)</span>
          <span class="e-link">
            <a class="link" (click)="linkBtnClickEvent('eappId')">あいまい検索</a>
          </span>
        </div>
        <div class="row">
          <label class="col-label text-right">ステータス:</label>
          <div class="col p-0">
            <div class="form-check form-check-inline mb-2" *ngFor="let item of apStatus; let i = index"
              [ngClass]="{'d-block': i === 6}" formArrayName="apStatus">
              <input *ngIf="i !== 3" type="checkbox" class="form-check-input wm-checkbox"
                [id]="'item-list-scr-implementation-' + i" [formControlName]="i">
              <label *ngIf="i !== 3" class="form-check-label mr-3"
                [for]="'item-list-scr-implementation-' + i">{{item}}</label>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-label text-right">申請日:</label>
          <div class="col p-0">
            <div class="col-content">
              <wj-input-date class="ap-date wm-combo" id="apDateFrom" name="apDateFrom" formControlName="apDateFrom"
                [isRequired]="false">
              </wj-input-date>
              ～
              <wj-input-date class="ap-date wm-combo" id="apDateTo" name="apDateTo" formControlName="apDateTo"
                [isRequired]="false">
              </wj-input-date>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-label text-right">起票/申請者:</label>
          <app-staff-selection [staffForm]="searchForm" [staffCodeControlName]="'apStaffCode'"
            [staffNameControlName]="'apStaffName'" [companyOnly]="true"
            [visibleStatus]="accessLevel === 'C' ? false : true" [readOnly]="readOnlyStaffCode"
            [extNameClass]="'wm-150'">
          </app-staff-selection>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <label class="wm-120 text-right">取得形態:</label>
          <div class="col p-0">
            <div class="form-check form-check-inline mb-2" *ngFor="let item of apGetType; let i = index"
              formArrayName="apGetType">
              <input type="checkbox" class="form-check-input wm-checkbox" [id]="'item-list-gettype-' + i"
                [formControlName]="i">
              <label class="form-check-label" [for]="'item-list-gettype-' + i"
                style="margin-right: 10px;">{{item}}</label>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="wm-120 text-right">ｻｰﾋﾞｽ提供開始報告:</label>
          <div class="form-check form-check-inline mb-2" *ngFor="let item of reportCompleteFlag; let i = index"
            formArrayName="reportCompleteFlag">
            <input type="checkbox" class="form-check-input wm-checkbox" [id]="'item-list-reportCompleteFlag-' + i"
              [formControlName]="i">
            <label class="form-check-label" [for]="'item-list-reportCompleteFlag-' + i"
              style="margin-right: 10px;">{{item}}</label>
          </div>
        </div>
        <div class="row">
          <label class="wm-120 text-right">計上区分:</label>
          <div class="col p-0">
            <div class="form-check form-check-inline mb-2" *ngFor="let item of addUpType; let i = index"
              formArrayName="addUpType">
              <input type="checkbox" class="form-check-input wm-checkbox" [id]="'item-list-gettype-' + i"
                [formControlName]="i">
              <label class="form-check-label" [for]="'item-list-gettype-' + i"
                style="margin-right: 10px;">{{item}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-5">
      <div class="block-frame-border">
        <h2 class="frame-title">取得</h2>
        <form [formGroup]="form1">
          <div class="row">
            <label class="col-label text-right">資産名:</label>
            <ea-input-mask id="getItemName" class="wm-combo wm-tab-element wm-250" formControlName="astName">
            </ea-input-mask>
            <span>(あいまい)</span>
          </div>
          <div class="row">
            <label class="col-label text-right mr-8">クラウド区分:</label>
            <div class="bt">
              <wj-combo-box class="wm-combo wm-dropdown wm-tab-element wm-120" [isRequired]="false"
                [itemsSource]="astCloudTypeAC" [displayMemberPath]="'label'" [selectedValuePath]="'data'"
                [formControlName]="'astCloudType'"></wj-combo-box>
            </div>
          </div>
          <div class="row">
            <label class="col-label text-right mr-12">案件グループ:</label>
            <app-ppfs-group-selection [ppfsGroupCodeControlName]="'astGroupCode'"
              [ppfsGroupNameControlName]="'astGroupName'" [ppfsGroupForm]="form1" [sqlName]="'selectPpfs_Group_LOV'"
              [ppfsGroupNameStyle]="'wm-150'"
              [paramMap]="{companyCode: sessionInfo.loginCompanyCode, groupName: '', searchDateFrom: null, searchDateTo: null}"
              (selectData)="onParentSelected($event)">
            </app-ppfs-group-selection>
          </div>
          <div class="row">
            <label class="col-label text-right mr-8">ﾘﾘｰｽ/検収(納品)予定日:</label>
            <div class="col p-0">
              <div class="col-content">
                <wj-input-date class="ap-date wm-combo" id="astCompletePlanDateFrom" name="astCompletePlanDateFrom"
                  formControlName="astCompletePlanDateFrom" [isRequired]="false">
                </wj-input-date>
                ～
                <wj-input-date class="ap-date wm-combo" id="astCompletePlanDateTo" name="astCompletePlanDateTo"
                  formControlName="astCompletePlanDateTo" [isRequired]="false">
                </wj-input-date>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="this.accessLevel === 'S'">
            <label class="wm-140 text-right">リリース督促メール:</label>
            <div>
              <div class="form-check form-check-inline mb-2" *ngFor="let item of reminderFlag; let i = index"
                formArrayName="reminderFlag">
                <input type="checkbox" class="form-check-input wm-checkbox" [id]="'item-list-reminderFlag-' + i"
                  [formControlName]="i">
                <label class="form-check-label" [for]="'item-list-reminderFlag-' + i"
                  style="margin-right: 10px;">{{item}}</label>
              </div>
            </div>
          </div>
          <div class="row" [hidden]='!this.form1.controls.reminderFlag.value[1]'>
            <label class="col-label text-right"></label>
            <div class="col p-0">
              <div class="col-content">
                <wj-input-date class="ap-date wm-combo" id="reminderDateFrom" name="reminderDateFrom"
                  formControlName="reminderDateFrom" [isRequired]="false">
                </wj-input-date>
                ～
                <wj-input-date class="ap-date wm-combo" id="reminderDateTo" name="reminderDateTo"
                  formControlName="reminderDateTo" [isRequired]="false">
                </wj-input-date>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-label text-right mr-8">取得金額:</label>
            <wj-input-number id="getTotalAmountFrom" class="wm-combo wm-tab-element wm-100"
              formControlName="getTotalAmountFrom">
            </wj-input-number>
            ～
            <wj-input-number id="getTotalAmountTo" class="wm-combo wm-tab-element wm-100"
              formControlName="getTotalAmountTo">
            </wj-input-number>
          </div>
          <div class="row">
            <label class="wm-140 text-right">稟議書･経営会議等承認:</label>
            <div class="form-group form-checkbox">
              <div class="form-check form-check-inline">
                <input class="form-check-input wm-checkbox" type="checkbox" id="specialApproveFlag"
                  formControlName="specialApproveFlag">
                <label class="form-check-label" for="specialApproveFlag">承認済</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="block-frame-border">
        <h2 class="frame-title">経費負担</h2>
        <form [formGroup]="form2">
          <div class="row">
            <label class="col2-label text-right mr-8">販売管理費/原価区分:</label>
            <div class="bt">
              <wj-combo-box class="wm-combo wm-dropdown wm-tab-element wm-120" [itemsSource]="costTypeAC"
                [displayMemberPath]="'label'" [selectedValuePath]="'data'" [formControlName]="'costType'"
                [isRequired]="false"></wj-combo-box>
            </div>
          </div>
          <div class="row">
            <label class="col2-label text-right mr-15">減価償却(費用化)ﾌﾟﾛｼﾞｪｸﾄｺｰﾄﾞ:</label>
            <app-project-section [projectForm]="form2"
              [paramMap]="{companyCode: sessionInfo.loginCompanyCode, prjCategory: '1'}"
              [projectCodeControlName]="'costDepPrjCode'" [projectNameControlName]="'costDepPrjName'"
              [sqlName]="'selectProject_LOV'" (selectData)="onParentSelected($event)">
            </app-project-section>
          </div>
          <div class="row">
            <label class="col2-label text-right">資産計上部課:</label>
            <app-cost-section-selection [modalTitle]="'資産計上部課選択'" [sectionForm]="form2"
              [searchDateFrom]="searchDateFrom" [searchDateTo]="searchDateTo"
              [staffCode]="sessionInfo.loginUser.companyCode" [costSectionCodeControlName]="'costSectionCode'"
              [costSectionNameControlName]="'costSectionName'">
            </app-cost-section-selection>
          </div>
        </form>
      </div>
    </div>
    <div class="col-5 ml">
      <div class="block-frame-border">
        <h2 class="frame-title">保有・設置</h2>
        <form [formGroup]="form3">
          <div class="row">
            <label class="col-label text-right mr-8">保有会社:</label>
            <ea-input-mask id="holCompanyName" class="wm-combo wm-tab-element wm-100 bg-gray"
              formControlName="holCompanyName" readonly></ea-input-mask>
          </div>
          <div class="row">
            <label class="col-label text-right mr-8">保有部署:</label>
            <app-section-selection class="wm-combo wm-300" [sectionForm]="form3"
              [sectionCodeControlName]="'holSectionCode'" [sectionNameControlName]="'holSectionName'"
              [sectionYearControlName]="'holSectionYear'"></app-section-selection>
          </div>
          <div class="row">
            <label class="col-label text-right mr-8"></label>
            <div class="form-group form-checkbox">
              <div class="form-check form-check-inline">
                <input class="form-check-input wm-checkbox" type="checkbox" id="includeSectionHierarchyFlag"
                  formControlName="includeSectionHierarchyFlag">
                <label class="form-check-label"
                  for="includeSectionHierarchyFlag">指定{{accessLevel === 'B' ? '/管轄' : ''}}部署の配下部署も検索に含める</label>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-label text-right mr-8">代表設置場所:</label>
            <app-rep-office-section [repOfficeForm]="form3" [required]="false"
              [repOfficeCodeControlName]="'holRepOfficeCode'" [repOfficeNameControlName]="'holRepOfficeName'"
              [sqlName]="'selectSetchi_LOV'" [selectOnly]="false" [paramMap] = "{ companyCode: sessionInfo.loginCompanyCode}">
            </app-rep-office-section>
          </div>
        </form>
      </div>
      <div class="block-frame-border">
        <h2 class="frame-title">資産明細</h2>
        <form [formGroup]="form4">
          <div class="row">
            <label class="col-label text-right mr-8 wm-180">分類:</label>
            <app-code-name-selection [formExportSearch]="form4" [modalTitle]="'分類選択'" [extClass]="'wm-200'"
              [statusCodeControlName]="'astCategoryCodeFld'" [statusNameControlName]="'astCategoryNameFld'"
              [headerGrid]="'分類'" [modalLabelTitle]="'分類選択'" [sqlName]="'selectCodeName_LOV'"
              [paramMap]="{categoryCode: 'AP_GET_INT_AST_CATEGORY'}" [hidenSearch]="true">
            </app-code-name-selection>
          </div>
          <div class="row">
            <label class="col2-label text-right mr-8">名称:</label>
            <ea-input-mask id="astNameFld" class="wm-combo wm-tab-element wm-200" formControlName="astNameFld">
            </ea-input-mask>
            <span>(あいまい)</span>
          </div>
          <div class="row">
            <label class="col2-label text-right mr-15">資産プロジェクトコード:</label>
            <app-project-section [projectForm]="form4"
              [paramMap]="{companyCode: sessionInfo.loginCompanyCode, prjCategory: '2'}"
              [projectCodeControlName]="'astPrjCodeFld'" [projectNameControlName]="'astPrjNameFld'"
              [sqlName]="'selectProject_LOV'">
            </app-project-section>
          </div>
          <div class="row">
            <label class="col2-label text-right mr-8">コメント:</label>
            <ea-input-mask id="astCommentFld" class="wm-combo wm-tab-element wm-200" formControlName="astCommentFld">
            </ea-input-mask>
            <span>(あいまい)</span>
          </div>
          <div class="row">
            <label class="col2-label text-right mr-8"></label>
            <span class="text-inline d-block">(スペース区切りで複数指定可)</span>
          </div>
        </form>
      </div>
      <div class="block-frame-border">
        <h2 class="frame-title">備考</h2>
        <form [formGroup]="form5">
          <ea-input-mask id="description" class="wm-combo wm-tab-element wm-350" formControlName="description">
          </ea-input-mask>
          <span class="text-inline"> (あいまい) </span>
          <span class="text-inline d-block">(スペース区切りで複数指定可)</span>
        </form>
      </div>
    </div>
  </div>
</div>
