<div class="row" [hidden]="categoryName === 'ASSET_CATEGORY2'">
  <div>
    <form [formGroup]="categoryForm">
      <div class="row">
        <label>大分類</label>
        <ea-input-mask class="wm-combo is-rounded" formControlName="{{categoryNameControlParent}}" [isReadOnly]="true"
          [required]="required"></ea-input-mask>
      </div>
      <div class="row">
        <label>大分類</label>
        <ea-input-mask class="wm-combo is-rounded" formControlName="{{categoryNameControlName}}" [isReadOnly]="true"
          [required]="required"></ea-input-mask>
      </div>
    </form>
  </div>
  <div class="col-tree-buttons p-0 wm-buttons mt-50">
    <button type="button" class="wm-btn wm-sm btn-icon btn-tooltip" (click)="clear()" *ngIf="!selectOnly"><span
        class="ico"><img src="assets/images/button/clear.gif"></span><span class="tooltip-text">クリア</span></button>
    <button type="button" class="wm-btn wm-sm" (click)="open($event.currentTarget)"><span class="ico"><img
          src="assets/images/button/popup.png"></span></button>
  </div>
</div>
<div [hidden]="categoryName === 'ASSET_CATEGORY1'">
  <ea-input-mask class="wm-combo wm-300" [(ngModel)]="categoryName2" [ngModelOptions]="{standalone: true}"
    [isReadOnly]="true" [required]="required"></ea-input-mask>
</div>

<ea-popup #treePopup class="popup-section-selection" [hideTrigger]="'None'" (hidden)="close()">
  <form class="form-tree-selection" [formGroup]="treeForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">資産(機器)分類選択</h5>
        <button type="button" tabindex="-1" class="close bt-close wj-hide">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row row-filter">
          <div class="col col-4 col-label">分類名(あいまい)：</div>
          <div class="col col-4">
            <ea-input-mask #searchParamCategoryName class="wm-combo field-filter-text"
              formControlName="searchParamCategoryName"></ea-input-mask>
          </div>
          <div class="col col-4 col-button">
            <button type="button" class="wm-btn wm-sm" (click)="init()">検索</button>
          </div>
        </div>
        <div class="row">
          <div class="tree-wrapper">
            <wj-tree-view #treeView class="wm-tree-view" [itemsSource]="dataList" [displayMemberPath]="'categoryName'"
              [childItemsPath]="'items'" [autoCollapse]="false" (loadedItems)="onTreeInitialized(treeView)"
              (dblclick)="submit()">
            </wj-tree-view>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="wm-btn" (click)="submit()">選択</button>
        <button type="button" class="wm-btn wj-hide" (click)="close()">閉じる</button>
      </div>
    </div>
  </form>
</ea-popup>
