.input-display {
  display: block;
  width: 100%;
}

.wm-buttons {
  margin-top: 10px;
  .wm-btn{
    margin-right: unset;
  }
}

.row {
  margin-left: unset;
  margin-right: unset;
}

.wm-300{
  width: 300px;
}
