<wj-tab-panel #viewStack class="view-stack" (selectedIndexChange)="this.selectedIndexChangeHandler($event)">
  <ea-view-stack-tab [keepViewState]="true">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a>取得申請検索</a>
    <div>
      <app-ap-get-tan-search [parent]="this" #childViewSearch *ngIf="this.isLoaded.get(this.viewIndexSearch)">
        {{this.changeChildSubject.set(this.viewIndexSearch, childViewSearch.changeChildSubject)}}
      </app-ap-get-tan-search>
    </div>
  </ea-view-stack-tab>
  <ea-view-stack-tab [keepViewState]="false">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a>取得申請検索</a>
    <div>
      <app-ap-get-tan-result [parent]="this" #childViewResult *ngIf="this.isLoaded.get(this.viewIndexResult)">
        {{this.changeChildSubject.set(this.viewIndexResult, childViewResult.changeChildSubject)}}
      </app-ap-get-tan-result>
    </div>
  </ea-view-stack-tab>
  <ea-view-stack-tab [keepViewState]="false">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a>照会/修正</a>
    <div>
      <app-ap-get-tan-asset-search [parent]="this" #childViewAssetSearch
        *ngIf="this.isLoaded.get(this.viewIndexAssetSearch)">
        {{this.changeChildSubject.set(this.viewIndexAssetSearch, childViewAssetSearch.changeChildSubject)}}
      </app-ap-get-tan-asset-search>
    </div>
  </ea-view-stack-tab>
  <ea-view-stack-tab [keepViewState]="false">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a>取得申請履歴</a>
    <div>
      <app-ap-get-tan-entry [parent]="this" #childViewEntry *ngIf="this.isLoaded.get(this.viewIndexEntry)">
        {{this.changeChildSubject.set(this.viewIndexEntry, childViewEntry.changeChildSubject)}}
      </app-ap-get-tan-entry>
    </div>
  </ea-view-stack-tab>
  <ea-view-stack-tab [keepViewState]="false">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a>取得申請履歴</a>
    <div>
      <app-ap-get-tan-hist [parent]="this" #childViewHist *ngIf="this.isLoaded.get(this.viewIndexHist)">
        {{this.changeChildSubject.set(this.viewIndexHist, childViewHist.changeChildSubject)}}
      </app-ap-get-tan-hist>
    </div>
  </ea-view-stack-tab>
</wj-tab-panel>
<app-confirm-popup #confirmPopup (confirm)="onConfirm()"></app-confirm-popup>
