<div class="ap-get-tan-search">
  <header class="header">
    <label>リース・レンタルの取得申請を検索してください。</label>
  </header>
  <div class="body">
    <app-ap-get-tan-search-condition [currentState]="'AP_GET_INT'"></app-ap-get-tan-search-condition>
  </div>
  <footer class="footer">
    <div class="button-bottom">
      <button type="button" class="wm-btn wm-tab-element ml-3" (click)="search()">検索</button>
      <button type="button" class="wm-btn wm-tab-element ml-3" (click)="resetSearch()">クリア</button>
      <button type="button" class="wm-btn wm-tab-element ml-3" (click)="back()">戻る</button>
    </div>
  </footer>
</div>
