.download-option {
  width: 365px;

  .opt-label {
    width: 8rem;
    text-align: right;
  }

  .modal-content {
    .modal-body {
      padding: 20px 20px 5px 20px !important;
    }

    .modal-footer {
      padding: 5px 0 25px !important;
    }
  }
}
