.asset-block-frame-border {
  width: 480px;
  padding: 2px;
  .asset-group-control {
    width: 480px;
    .label-col {
      margin: 4px 1px 1px 1px;
      white-space: nowrap;
      text-align: right;
      width: 115px;
    }
  }
}
.label-number {
  padding: 0px 2px;
  margin: 0px 2px;
  width: 20px;
  direction: rtl;
  text-align: justify;
}

.hiddenForm {
  display: none;
}
