.ipt-name {
  width: 17rem;
}
.ppfs-selection {
  .search {
    padding: 2px 0px 15px 0px;
    vertical-align: middle;
    justify-content: center;
  }

  .grid-ppfs-setchi-list {
    height: 312px
  }

  .modal-footer {
    padding: 0px 0px 20px 0px !important;
  }
}
