button {
  min-width: 40px;
  margin: 0px 5px;
  padding: 3px 15px;
}

.form-os {
  width: 568px !important;

  .form-group {
    label {
      width: 100px !important;
    }


  }

  .section-name {
    width: 200px !important;
  }
}

.grid-common-wrap {
  position: relative;
  z-index: 0;
  top: -1rem;

  &.u-top {
    top: -2rem !important;
  }

  .grid-common-count {
    margin: 5px 0;
  }

  .grid-common-list {
    height: auto;
  }
}
