<form class="form-staff row row-selection" [formGroup]="namePurCompanyForm">
<label class="title-class" [ngClass]="title ? styleTitle : ''">{{title}}</label>
<ea-input-mask #inputDisplay class="input-display wm-combo" formControlName="{{ namePurCompanyName }}"
[ngClass]="extClass" [required]="required"></ea-input-mask>
<button type="button" class="wm-btn wm-sm" (click)="open($event.currentTarget)">
<span class="ico"><img src="assets/images/button/popup.png" /></span>
</button>
</form>

<ea-popup #codeNameSelectionPopup class="popup-status-selection" [hideTrigger]="'None'" (hidden)="close()">
  <div class="form-select-status" [formGroup]="formSearch">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button type="button" tabindex="-1" class="close bt-close wj-hide">
          &times;
        </button>
      </div>
      <div class="modal-body modal-body--search">
        <form class="form-search" [formGroup]="formSearch" [hidden]="hidenSearch">
          <label for="" class="wm-combo wm-120">{{ modalLabelTitle }}</label>
          <ea-input-mask #filterText class="wm-combo wm-120" formControlName="filterText"></ea-input-mask>
          <button type="button" class="wm-btn mx-2" (click)="search()">検索</button>
        </form>
        <div class="section-status">
          <ea-flex-grid #gridCodeNameSelectionList class="grid-common-list grid-name-pur-company-selection-list"
            [itemsSource]="statusList" (dblclick)="submit()"  [headersVisibility]="'Column'">
            <ea-flex-grid-column header="{{headerGrid}}" binding="name" [width]="420"></ea-flex-grid-column>
          </ea-flex-grid>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="wm-btn" (click)="submit()">
          選択
        </button>
        <button type="button" class="wm-btn wj-hide">閉じる</button>
      </div>
    </div>
  </div>
</ea-popup>
