.popup-status-selection {
  width: auto;

  .section-status {
    border: none;
  }
  .modal-body--search {
    padding-top: 5px !important;
    .form-search {
      padding: 4px 0;
      width: 440px;
    }
  }

  .grid-name-pur-company-selection-list {
    display: inline-block;
    width: auto;
    height: 300px;
  }

  .section-status {
    width: auto;
  }
}

