<form [formGroup]="holStaffForm">
  <ea-input-mask class="ip-code wm-combo is-rounded input-display"
                 formControlName="{{staffNameControlName}}" [required]="required" [maxLength]="10"
                 [pattern]="'a-zA-Z0-9'" [ngClass]="holStaffClass"
                 [capitalize]="true" [isReadOnly]="true"></ea-input-mask>
  <button type="button" class="wm-btn wm-sm btn-icon btn-tooltip" (click)="clear()" *ngIf="!selectOnly"><span
    class="ico"><img src="assets/images/button/clear.gif"></span><span class="tooltip-text">クリア</span></button>
  <button [hidden]="!isShowStatus" type="button" class="wm-btn wm-sm" (click)="open($event.currentTarget)"><span
    class="ico"><img src="assets/images/button/popup.png"></span></button>
</form>

<ea-popup #holStaffSelectionPopup class="popup-staff-selection" [hideTrigger]="'None'" (hidden)="close()">
  <div class="form-select-staff">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">資産管理担当者選択</h5>
        <button type="button" tabindex="-1" class="close bt-close wj-hide">&times;</button>
      </div>
      <div class="modal-body">
        <div class="section-search">
          <form class="row" [formGroup]="searchForm">
            <div class="col-6">
              <div class="row row-search">
                <div class="col-6">担当者（あいまい）：</div>
                <div class="col-6">
                  <ea-input-mask formControlName="sectionCode"></ea-input-mask>
                </div>
              </div>
            </div>
            <div class="col-6">
              <button type="button" class="wm-btn" (click)="search()">検索</button>
            </div>
          </form>
        </div>
        <div class="section-data">
          <ea-flex-grid #gridHolStaffSelectionList class="grid-common-list grid-staff-selection-list"
                        [itemsSource]="holStaffList" [allowResizing]="'None'" [allowSorting]="false"
                        [headersVisibility]="'Column'"
                        (dblclick)="submit()">
            <ea-flex-grid-column header="担当者" binding="value1" [allowResizing]="false" [allowMerging]=true
                                 [width]="200"></ea-flex-grid-column>
            <ea-flex-grid-column header="担当部署" binding="value2" [allowResizing]="false" [allowMerging]=true [width]="200">
            </ea-flex-grid-column>
            <ea-flex-grid-column header="コメント" binding="value3" [allowResizing]="false" [allowMerging]=true
                                 [width]="300"></ea-flex-grid-column>
          </ea-flex-grid>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="wm-btn" (click)="submit()">選択</button>
        <button type="button" class="wm-btn wj-hide">閉じる</button>
      </div>
    </div>
  </div>
</ea-popup>
