.asset-search-condition-header {
  section {
    .asset-search-condition-form-header {
      padding: 0px 10px 10px 20px;
      .asset-group-control {
        width: 480px;
        .label-col {
          margin: 4px 1px 1px 1px;
          white-space: nowrap;
          text-align: right;
          width: 115px;
        }
      }
    }
  }
}
