<wj-tab-panel #viewStack class="view-stack" (selectedIndexChange)="this.selectedIndexChangeHandler($event)">
  <ea-view-stack-tab [keepViewState]="false">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a>レンタル買取申請_履歴</a>
    <div>
      <app-ap-end-re-hist [parent]="this" #childViewHist *ngIf="this.isLoaded.get(this.viewIndexHist)">
        {{this.changeChildSubject.set(this.viewIndexHist, childViewHist.changeChildSubject)}}
      </app-ap-end-re-hist>
    </div>
  </ea-view-stack-tab>

  <ea-view-stack-tab [keepViewState]="false">
    <!-- 画面切替後も状態を維持する画面：true、維持しない画面:false-->
    <a></a>
    <div>
      <app-ap-end-re-ast-search [parent]="this" #childViewAstSearch *ngIf="this.isLoaded.get(this.viewIndexAstSearch)">
        {{this.changeChildSubject.set(this.viewIndexAstSearch, childViewAstSearch.changeChildSubject)}}
      </app-ap-end-re-ast-search>
    </div>
  </ea-view-stack-tab>
</wj-tab-panel>
<app-confirm-popup #confirmPopup (confirm)="onConfirm()"></app-confirm-popup>
