<div class="form-os">
  <div *ngIf="btnAddOs">
    <button type="button" class="wm-btn wm-sm" (click)="addLineOs()">
      行追加
    </button>
  </div>
  <div [ngClass]="btnAddOs ? 'collapse' : 'collapse show'">
    <div class="block-frame-border">
      <h2 class="frame-title horizontal-tb">明細入力</h2>
      <div class="col p-0">
        <form [formGroup]="lineOsForm">
          <div class="col p-0">
            <div class="form-group">
              <label class="wm-combo col-3 pr-1">No:</label>
              <wj-input-number class="input-display col-2 wm-combo bg-gray" id="lineSeq"
                               formControlName="lineSeq"
                               name="lineSeq"></wj-input-number>
            </div>
            <div class="form-group">
              <label class="wm-combo col-3 pr-1">OS名:</label>
              <wj-input-mask class="input-display wm-combo wm-100 required"
                             formControlName="osName" id="osName"
                             autofocus="true"
                             [isRequired]="true"
                             name="osName"></wj-input-mask>
            </div>
            <div class="form-group">
              <label class="wm-combo col-3 pr-1">コメント:</label>
              <wj-input-mask class="input-display wm-combo wm-100 required" id="osDescription"
                             formControlName="osDescription"
                             name="osDescription"></wj-input-mask>
            </div>
          </div>
        </form>
        <hr class="e-line">
        <div class="col p-0">
          <div class="form-group e-group-btn">
            <button type="button" class="wm-btn wm-sm" (click)="saveLineOs()">
              OK
            </button>
            <button type="button" class="wm-btn wm-sm" (click)="goToNextLineOs()">
              次行入力
            </button>
            <button type="button" class="wm-btn wm-sm" (click)="cancelLineOs()">
              キャンセル
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-common-wrap u-top">
  <div class="grid-common-count">
                    <span>【件数：{{gridLineOs && gridLineOs.rows ? (gridLineOs.rows.length | number) : 0}}
                      件】</span>
  </div>
  <div class="wm-grid-list" id="wp-grid-data-list">
    <ea-flex-grid #gridLineOs class="grid-common-list grid-list"
                  (initialized)="initGridLineOs()"
                  [allowAddNew]="true"
                  [itemsSource]="lineOsList">
      <ea-flex-grid-column [width]="25" header="">
        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell" let-row="row">
          <a *ngIf="this.btnAddOs" name="btnDel" id="btnDel" class="btn-del"></a>
        </ng-template>
      </ea-flex-grid-column>
      <ea-flex-grid-column [width]="75" binding="lineSeq" header="No">
      </ea-flex-grid-column>
      <ea-flex-grid-column binding="osName" [width]="200" header="OS名"></ea-flex-grid-column>
      <ea-flex-grid-column binding="osDescription" [width]="300" header="コメント"></ea-flex-grid-column>
    </ea-flex-grid>
  </div>
</div>
